html, body {overflow:hidden;}

#conteyner{
	width: 97vw;
	height: auto;
	border: 1px solid transparent;
    display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5vh;
}
#alphabet {
    width: 80vw;
	height: 92vh;
    border: 1px solid transparent;
	margin-top: 0.5vh;
    display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1vh;	
}

.cell{
	
    border: 1px solid #DCDCDC;
	background: linear-gradient(to right, #FFFF00, #FFA07A);
	border-radius: 10px;	
	font-size: 3vw;
	font-weight: 700;
}

.cell:focus { background:transparent;}



@media (orientation: portrait) {
	#conteyner{ width: 95vw; height: auto;}
    #alphabet {width: 90vw; height: 92vh; margin-top: 1vh;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);}
	.cell{ font-size: 6vw;	}
	.lang { font-weight: 700; font-size: 4vw;}
}

#shellLetter { 
        width: 95vw;
        height: 94vh;
		border: 1px solid transparent;	
        	
}
#letter{ width: 94vw; 
        height: 90vh;	
		border: 1px solid transparent;
		margin-top: 2vh;
        display: grid;
	    grid-template-columns: 4fr 1fr;
		grid-template-rows: 1fr 4fr ;   		
}

.say, .pic {
      display: flex;
	  justify-content: center;
	  align-items: center;
	  border: 1px solid transparent;
}

.say { color: #BA55D3; font-size: 7vw;}

.say b { color: red; }


.pic IMG {
   width: auto;
   max-height: 70%;
   border-radius : 5vw; 
   object-fit: contain;
   position: absolute;	
}

.keypad {grid-column-start: 2;
	     grid-row: 1/3;
		 display: grid;
		 grid-template-columns:1fr;
	     grid-template-rows: 1fr 1fr 1fr 1fr;
		 grid-row-gap: 2vh;
		 justify-content: stretch;
		 align-items: stretch;
}

.key {border: 3px solid transparent;
      border-radius: 3vw;
	  background: #E6E6FA;
      display: grid;
      justify-items: center;
      align-items: center;
}

.toAlphabet {font-size: 3vw; color: red;} 

.fond {width: 16vh; height: 16vh;}



@media (orientation: portrait) {
    #shellLetter { width: 90vw; height: 95vh;}	
	
	#letter {width: 90vw;
             height: 90vh;
             margin-top: 0;				
		     display: grid;
		     grid-template-columns:1fr;
	         grid-template-rows: 1fr 4fr 1fr;}
			   
	.pic { grid-row-start: 2;}
	
	.pic IMG { max-width: 85%; height: auto;}
	
	.keypad {grid-row-start: 3;
	     grid-column: 1/3;
		 display: grid;
		 grid-template-rows:1fr;
	     grid-template-columns: 1fr 1fr 1fr 1fr;
		 grid-column-gap: 2vh;
		 justify-content: stretch;
		 align-items: stretch; }
	
    .say {font-size: 14vw;}
	
	.toAlphabet {font-size: 4vw;} 
	
	.fond {width: 16vw; height: 16vw;}

}